<div class="register">

    <h1>Register</h1>

    <form action="" (ngSubmit)="register()">
        <div class="item">
            <label for="name">Name : </label>
            <input type="text" [(ngModel)]="name" name="name" id="name">
        </div>
        <div class="item">
            <label for="name">Email : </label>
            <input type="email" [(ngModel)]="email" name="email" id="email">
        </div>
        <div class="item">
            <label for="name">Password : </label>
            <input type="password" [(ngModel)]="password" name="password" id="password">
        </div>
        <button type="submit">Register</button>
    </form>
    <p>Already Registered?<a routerLink="/login">Login here</a></p>

</div>