<div class="container">

    <h1>Student Details</h1>

    <div class="form" (ngSubmit)="logout()">

        <div class="item">
            Name : <label for="name" id="name">{{name}}</label>
        </div>

        <div class="item">
            Email : <label for="email" id="email">{{email}}</label>
        </div>

        <div class="item">
            Password : <label for="password" id="password">{{password}}</label>
        </div>

        <button type="submit">Log OUT</button>





    </div>

</div>